<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<jmxConfigurator />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>com.thenetcircle.services.media.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>com.thenetcircle.services.media-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="TESTFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>com.thenetcircle.services.media-test.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>com.thenetcircle.services.media-test-%d{yyyy-MM-dd_HH:mm}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>localhost</syslogHost>
		<facility>LOCAL0</facility>
		<suffixPattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
			%msg%n</suffixPattern>
	</appender>

	<appender name="SMTP" class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>sh.thenetcircle.com</smtpHost>
		<to>carsten@thenetcircle.com</to>
		<from>noreply@services.thenetcircle.com</from>
		<subject>[logback] com.thenetcircle.services</subject>
		<layout class="ch.qos.logback.classic.html.HTMLLayout" />
		<cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTrackerImpl">
			<bufferSize>100</bufferSize>
		</cyclicBufferTracker>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> <appender-ref ref="TESTFILE" /> -->
	</root>

	<logger name="com.thenetcircle.services" level="DEBUG" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.eclipse" level="WARN" />
	<logger name="com.thenetcircle.services.ips.internal" level="DEBUG" />

</configuration>
